.home-container {
    max-width: 8000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0C0F21;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .home-title {
    font-size: 48px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }